<div class="container">
  
   
<section>
  <h3><u>Educacion</u></h3> <h5>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi maxime rem officiis vero
    fugit, consequatur ipsam nostrum ducimus iusto, voluptas odio. Ipsam veniam eum aspernatur dignissimos reiciendis
    fuga dolore ad. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ducimus impedit atque minima
    necessitatibus magnam! Dolores saepe ratione, dolor dignissimos odio sint rem voluptatibus voluptates delectus
    fugiat ab cupiditate illo!
  </h5>
</section>
    
  
  </div>

  
